*{
	box-sizing: border-box;
}
body{
	max-width: 1200px;
	margin: auto !important;
	font-family:  sans-serif;
	font-size: 16px;
}



h1{
	text-transform: capitalize;
	font-size: 3em;
	margin-bottom: 2em;
}

.hide{
	position: absolute;
	width: 1px;
	height: 1px;
	left: -10000000px;
}
